.container
{
    width: 50vw;
    height: 50vh;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 20cap;
    margin-left: 41cap;
    background-color: #7ade7e;
}

h1
{
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: black;
    align-items: top;
    display: grid;
    flex-direction: column;
}

.box
{
    border: 2px solid black;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

label
{
    font-family: ' bold Arial', sans-serif;
    font-size: 2rem;
    color: black;
    
}

input
{
    width: 60%;
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 2px solid black;
}

button
{
    width: 40%;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #028e07;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover
{
    background-color: #026c05;
}

.result
{
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
}

#result {
  margin-top: 12px;
  font-size: 22px;
  font-weight: bold;
  color: green;
}
#result.negative {
  color: red;
}